


<main>
    <div class="main_page_text">
        <div class="content_left">
            <div class="main_page_first_text">
                <p>Remember that kid who was always quiet in class? He’s grown up into a fine young man. A man of few words. For he has nothing to prove.</p>
                <p>He walks through yet another glass door. As a corridor stands wide-eyed. As a room sits tongue-tied. For the world can’t help, but feel his presence.</p>
            </div>
        </div>
        <div class="main_page_second_text">

            <h2>FEEL THE PRESENCE.</h2>
            <p>Introducing the Volkswagen Passat, packed with power and substance. Now, just your presence is enough to turn heads with our carefully crafted marvel of engineering and luxury. </p>
        </div>



    </div>

    <div class="mainpage_picture">

        <div class="slider_picture">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Content/Img/picture_for_main.png" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Content/Img/first_picture.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Content/Img/volkswagen_picture_for_main.png" alt="Third slide">
        </div>
    </div>
</div>
        </div>
        <div class="main_page_picture_text">
            <p>HUSH… </p>
            <p>HE’S BACK.</p>
        </div>
    </div>
</main>





