
<header>
    <div class="content">
        <div class="more_inf_first">
            <img src="~/Content/Img/pict1.png" class="pict1">
            <div class="blue_line"></div>
            <div class="text_inf_first">
                <p>360-degree Area View, Rear View Camera</p>
            </div>

        </div>
    </div>
    <div class="more_inf_second">

        <img src="~/Content/Img/pict2.png" class="pict2">
        <div class="inf_text">
            <h2>AFTER ALL, AN ALL-ROUND PERSON DESERVES AN ALL-ROUND VIEW.</h2>
            <p>Get a bird’s eye view of things. Even the moving ones. Because, like you, the Volkswagen Passat with 360-degree area view camera also has an eye for things.</p>
        </div>
        <div class="b"></div>
    </div>
    <div id="stretcher"></div>

</header>