


<div class="row">

    <div class="col-md-12 col-lg-6">



        <div class="text_interior_first">
            <h3 class="text-justify">
                AH. EVEN THE STARS ALIGN FOR HIM.
                <small><p>Stars, planets, opinions, all align in your presence. Now admire them from the sunroof.</p></small>
            </h3>
        </div>
        <img src="~/Content/Img/interior1.png" class="img-fluid img-thumbnail m-5 size">
        <br><br><br>

    </div>

    <div class="col-md-12 col-lg-6">
        <img src="~/Content/Img/interior2.png" class=" img-fluid img-thumbnail m-5">
        <div class="interior_text">
            <h3 class="text-justify">
                HIS PRESENCE IS ENOUGH TO MAKE A STATEMENT.
                <small> <p>Your presence and the spacious leather seating surfaces in the Volkswagen Passat, bring class and elegance to the road.</p></small>
            </h3>
        </div>


    </div>


</div>
