@model IEnumerable<TRPZ_VOLSWAGEN.Models.ViewModels.Shop.CategoryVM>

@{
    ViewBag.Title = "Categories";
}

<h2 class="container mb-2">Categories</h2>

<div class="new-cat  container">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">
                Categoty Name


            </span>

        </div>
        <input type="text" id="newcatname" class="form-control" />

    </div>
    <p>
        <a href="#" id="newcat" class="btn btn-success ">Add a new category</a>
        <span class="ajax-text">
            <img src="~/Content/images/ajax-loader.gif" height="50" />

        </span>
    </p>

</div>
<style>
    .ajax-text
    {
        display:none;
    }
</style>
@if (!Model.Any())
{
    <h1 class="text-center">There are no category</h1>
}
else
{


    <table class="table container">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control mr-10 ml-10", @readonly = "readonly" } })
                </td>

                <td>

                    @Html.ActionLink("Delete", "DeleteCategory", new { id = item.Id }, new { @class = "delete btn btn-danger" })
                </td>
            </tr>
        }

    </table>
}

@section Scripts
{
    <script>
        $(function ()
        {





            $("a.delete").click(function () {
                if (!confirm("Confirm page deletion")) return false;
            });

            /*****************************************************************/
            $("table#pages tbody").sortable({
                items : "tr:not(.home)",
                placeholder: "ui-state-highlight",
                update: function () {
                    var ids = $("table#pages tbody").sortable("serialize");
                    var url = "/Admin/Pages/ReorderPages";

                    $.post(url, ids, function (data) {
                    });
                }
            })
        });
    </script>
}
